.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: flex-end;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 0.3s, visibility 0.3s;

	&.is-hidden {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}

.mobile-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-width: 306px;
	background-color: #fff;
	padding: 37px 28px;
	// position: fixed;
	// z-index: 2;
	// right: 0;
	// top: 0;
	height: 100%;
	// display: none;
	transform: translateX(100%);
	transition: transform 0.5s;

	&.is-open {
		transform: translateX(0);
		transition: transform 0.5s;
	}

	&__logo {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-bottom: 53px;
	}

	&__logo-text {
		display: flex;
		align-items: flex-end;
		gap: 4px;

		h2 {
			font-size: 1.625rem;
			font-weight: 600;
		}

		p {
			color: #838383;
			font-size: 0.625rem;
			font-weight: 400;
			letter-spacing: -0.1px;
			padding-bottom: 6px;
		}
	}

	&__close-icon {
		background-color: transparent;
		border: none;
		position: absolute;
		top: 45px;
		right: 20px;
		fill: transparent;
		stroke: #000;
		cursor: pointer;
	}

	nav .mobile-menu__menu {
		list-style: none;
	}

	nav .mobile-menu__menu .mobile-menu__menu-item {
		padding: 11px 8px 11px 11px;
		display: flex;
		align-items: center;
		gap: 14px;
		margin-bottom: 18px;
		text-decoration: none;
		color: #9197b3;
		font-weight: 500;
		border-radius: 8px;
		cursor: pointer;
		transition: 0.3s all ease;

		p {
			font-size: 0.875rem;
			flex-grow: 1;
		}

		&:hover {
			background-color: rgb(251, 251, 251);
			color: #71768c;

			svg {
				stroke: #71768c;
			}
		}
	}

	&__icon {
		fill: transparent;
		stroke: #9197b3;
		transition: 0.3s all ease;
	}

	nav .mobile-menu__menu .mobile-menu__menu-item.active {
		color: #ffffff;
		background-color: #5932ea;

		svg {
			stroke: #ffffff;
		}
	}

	&__profile {
		margin-top: auto;
		display: flex;
		margin-bottom: 39px;
		align-items: center;
		gap: 12px;

		img {
			width: 42px;
			height: 42px;
			border-radius: 50%;
		}

		p {
			color: #000;

			font-family: Poppins;
			font-size: 0.875rem;
			letter-spacing: 0.14px;
		}

		span {
			color: #757575;
			font-size: 0.75rem;
			letter-spacing: 0.12px;
		}
	}
}

@media (max-width: 480px) {
	.mobile-menu {
		width: 100%;
	}
}
